.meerinfo-contentbox {
    margin: 0 auto;
    color: white;
    background-color: rgb(88, 88, 88); 
    width: 85%;
    height: 300px;
    position: relative;
}
.meerinfo-contentbox-child1 {
    position: absolute;
    top: 2%;
    left: 0.5%;
    margin: 0 auto;
    width: 49.0%;
    height: 288px;
    background-color: rgb(88, 88, 88); 
    opacity:90%;
}

.meerinfo-contentbox-child2 {
    position: absolute;
    top: 2%;
    left: 50.5%;
    margin: 0 auto;
    width: 49.0%;
    height: 288px;
    background-color: rgb(88, 88, 88); 
    opacity:90%;
}

.meerinfo-contentbox-child2 #omschrijving {
    margin:2% 0 0 5%;
    opacity:90%;
    font-size: 21px;
    text-align: left;
}

.meerinfo-contentbox-child2 button {
    position:relative;
    top: 70%;
    left: 38%;
    border: 0px;
}
.meerinfo-contentbox-child1 #titel {
    opacity:90%;
    font-size: 100px;
    font-style:inherit;
    text-align:unset;
    text-align: center;
}
.meerinfo-contentbox-child1 p {
    margin-top: 10%;
    font-style:italic;
    text-align: center;
}